# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
**/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
.firebase

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VSCode
/.vscode


# not use data
public/models/pcd
public/models/rar

# not share data
public/models/vtk
/components/game_template/assets/blend
utils/fileConvert/json/**

# log data
*.log

# Firebase
firebase/functions/lib
*firebase-adminsdk*.json

# Skecths
/shell
/components/skecths
docs/**/*.mp4
docs/**/*.mov
docs/reference
docs/NOTE.md
docs/Notes/*

# Blender
/public/models/blend/*
