// https://codesandbox.io/s/zu2wo?file=/src/styles.css

.content {
    padding-top: 10px;
    transform: translate3d(calc(50% + 20px), 0, 0);
    text-align: left;
    background: #202035;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}