.experiment {
    position: absolute;
    top: 55px;
    left: 5px;
    width: 200px;
    background-color: #1e1e27;
    border-radius: 2px;

    h2 {
        margin: 8px 4px;
        font-size: 1rem;
    }

    .items {
        .item {
            font-size: 0.8rem;
            margin: 2px 6px 2px 6px;
            display: flex;

            .check {
                display: flex;
                align-items: center;
            }
            .content {
                display: flex;
                align-items: center;
                margin: auto 5px;

                &.done {
                    color: #858b8e;
                }
            }
        }
    }

    .buttonArea {
        margin: 5px;
        width: 150px;
        height: 30px;
        margin: 10px auto;

        .button {
            padding: 5px;
            text-align: center;
            background-color: #6f41a1;
            border-radius: 2px;
        }
        .unableButton {
            padding: 5px;
            text-align: center;
            color: #858b8e;
            background-color: #797182;
            border-radius: 2px;
        }
    }
}
