.container {
    display: flex;
    height: 100vh;
}

.canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #909090;
    /* background: #0f0f0f; */
    /* background: #ff0000; */
    /* background: #00ff00; */
    /* background: #0000ff; */

    .isTransparent {
        opacity: 0;
    }
}