.foundation {
    width: 30%;
    min-width: 300px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
    transition: all 0.25s;
    opacity: 0;

    * {
        border-radius: 5px;
    }

    &.active {
        opacity: 1;
    }
}