.container {
    display: flex;
    height: 100vh;
}

.canvas {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background: #909090;
    /* background: #0f0f0f; */
}

.isTransparent {
    opacity: 0;
}